#menu {
  opacity: 0;
  padding-top: 1em;
  transition: all 0.4s;
  background: white;
  position: absolute;
  /* width: 80px; N.B.: width controlled in Page element by translate3d */
}

.visible {
  opacity: 1;
}

#page {
  height: 100%;
  flex: 2;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

.slid {
  transform: translate3d(80px, 0, 0);
}
